.category-popular {
  margin: 60px 40px;
  padding-top: 30px;
}
.popular-header{
  display: flex;
  
  justify-content:flex-start;
}

.movies-grid-popular {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 20px;
  column-gap: 30px;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .popular-header{
  padding-left: 10px;
} 
}
@media (max-width: 768px) {
  .popular-header{
  padding-left: 25px;
} 
  .movies-grid-popular {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  /* Estilizar a barra de scroll */
  .movies-grid-popular::-webkit-scrollbar {
    height: 6px;
  }
  .movies-grid-popular::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.6);
    border-radius: 4px;
  }
}
@media (max-width: 375px) {
  .popular-header{
  padding-left: 50px;
  font-size: 15px;
} 
}