.pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.pagination-button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  color: var(--text-color);
  transition: background 0.3s;
}

.pagination-button:disabled {
  background: #aaa;
  cursor: not-allowed;
}
.pagination-info {
  font-weight: 600;
  color: var(--text-color);
}
