.content {
    display: flex;
    max-width: 100%;
    margin-bottom: 40px;
    justify-content: center;
}
.overview {
  max-width: 90%;
  text-align: justify;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 60px;
  font-size: larger;
}
/* @media(max-width:607px){
  .overview{
       margin-right: 20px;
  }

} */
.cast {
  margin-left: 45px;
}
@media (max-width: 400px) {
 
  .overview {
    text-align: justify;
    max-width: 60%;
    margin-top: 50px;
    /* margin-left: 40px; */
   /*  margin-right: 20px; */
    font-size: larger;
  }
}
