
.movies-grid {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 20px;
  column-gap: 30px;
  margin-top: 10px;
}
.category-popular {
  margin: 60px 40px;
  padding-top: 30px;
}
@media(max-width:768px){
.movies-grid {
  
  row-gap: 0px;
  column-gap: 15px;
 
}
}