*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* img {
  max-width: 100%;
  height: auto;
  display: block;
} */
/*----colocado por mim */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Tema Light (default) */

.default {
  --bg-gradient: linear-gradient(to right, #1c508d, #b92b27);
  --text-color: #ffffff;
  --primary-color: #007bff;
  --secondary-color: #c52057;
  --card-bg: #f5f5f5;
  --btn-primary-hover: #7eb5da;
  --btn-secondary-hover: #dd789a;
  --btn-mode-color: #ffffff;
  --btn-mode-color-active: #a4a3a3;
}

.light {
  --bg-gradient: #ffffff;
  --text-color: #000;
  --primary-color: #1daf8d;
  --secondary-color: #422c91;
  --card-bg: #f5f5f5;
  --btn-mode-color: #6d6b6b;
}

/* Tema Dark */
.dark {
  --bg-gradient: #121212;
  --text-color: white;
  --primary-color: #404244;
  --secondary-color: #999999;
  --card-bg: #1e1e1e;
  --btn-primary-hover: #898a8a;
  --btn-secondary-hover: #5b5b5b;
  --btn-mode-color: #ffffff;
}
body {
  margin: 0px;
  /* display: flex;
  place-items: center; */
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background: var(--bg-gradient);
  color: var(--text-color);
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  /*  ---------------------------------- css posto por mim --------------------------------------------  */
  /*  LOADer */

  /*  LOADer */

  /* -----NAVBAR----- */

  /* -----NAVBAR----- */
  /* ----NAVBAR RESPONSIVE------- */

  /* ----NAVBAR RESPONSIVE------- */

  .pic-movie {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  /*---COMPONENTE POPULAR MOVIES----- */

  /*--- FIM -- COMPONENTE POPULAR MOVIES----- */
  /* ----PUPULAR MOVIES RESPONSIVE */

  /* ----PUPULAR MOVIES RESPONSIVE */
  /*  ------ COMPONENTE CARD SERIES MOVIES .------ */
  .card-wrapper {
    flex: 0 0 auto; /* impede que o flex encolha ou cresça automaticamente */
    height: 400px; /* altura fixa */
  }
  @media (max-width: 500px) {
    .card-wrapper {
      flex: 0 0 auto; /* impede que o flex encolha ou cresça automaticamente */
      height: 350px; /* altura fixa */
    }
  }
 

  @media (max-width: 768px) {
    .movie-hero {
      flex-direction: column; 
      align-items: center;
      text-align: center;
      padding: 20px;
      gap: 20px;
    }
    .movie-hero-content h1 {
      font-size: 1.5rem;
    }
    .movie-hero-content p {
      font-size: 0.9rem;
    }
  }

  .genres {
    display: flex;
    gap: 12px;
    margin-top: 12px;
  }

  .chip {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
  }


  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .searchBar {
    border-radius: 8px;
  }

  /* wrapper  btn favorites */
  .poster-wrapper {
    position: relative;
    display: inline-block;
  }

  .poster-wrapper img {
    width: 100%;
    border-radius: 8px;
    display: block;
  }

  /* wrapper  btn favorites */
}
/* @media (max-width: 768px) {
  .nav-bar ul {
    display: none;
  }
  .nav-bar.active ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(71, 11, 225, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
} */
@media (max-width: 768px) {
  .overview {
    max-width: 100%;
    margin: 20px;
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .btnprimary,
  .btnsecundary {
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .card-movies {
    min-width: 150px;
    max-width: 150px;
  }
}
